[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl
[submodule "submodules/cuBQL"]
	path = submodules/cuBQL
	url = https://github.com/ingowald/cuBQL
[submodule "submodules/dense2vdb"]
	path = submodules/dense2vdb
	url = git@github.com:szellmann/dense2vdb.git
