[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl
[submodule "submodules/cuBQL"]
	path = submodules/cuBQL
	url = https://github.com/ingowald/cuBQL
[submodule "submodules/embree"]
	path = submodules/embree
	url = https://github.com/embree/embree
[submodule "submodules/optix"]
	path = submodules/optix
	url = https://github.com/NVIDIA/optix-dev
