name: Windows

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # explicit include-based build matrix, of known valid options
      matrix:
        include:
          - os: windows-2022
            cuda: "12.6.2"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            cmake-platform-flag: "-A x64"
            config: Release
            build_flags:
          - os: windows-2022
            cuda: "13.0.0"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            cmake-platform-flag: "-A x64"
            config: Release
            build_flags:
          - os: windows-2025
            cuda: "12.6.2"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            cmake-platform-flag: "-A x64"
            config: Release
            build_flags:
          - os: windows-2025
            cuda: "13.0.0"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            cmake-platform-flag: "-A x64"
            config: Release
            build_flags:
          - os: windows-2025
            cuda: "none"
            visual-studio: "Visual Studio 17 2022"
            shell: "powershell"
            cmake-platform-flag: "-A x64"
            config: Release
            build_flags: "-DBARNEY_BACKEND_EMBREE=ON -DBARNEY_BACKEND_CUDA=OFF -DBARNEY_BACKEND_OPTIX=OFF"

    env:
      cmake_generator: "${{ matrix.visual-studio }}"
      visual_studio: "${{ matrix.visual-studio }}"
      build_dir: "build"
    steps:
      - name: Checkout barney
        uses: actions/checkout@v5
        with:
          submodules: true

#      - name: Install CUDA on Ubuntu systems
#        if: contains(matrix.os, 'ubuntu')
#        env:
#          cuda: ${{ matrix.cuda }}
#        run: .github/action-scripts/install-cuda-ubuntu.sh
#        shell: bash

      - name: Install CUDA on Windows
        if: contains(matrix.os, 'windows')
        env:
          cuda: ${{ matrix.cuda }}
        run: .github\action-scripts\install-cuda-windows.ps1
        shell: powershell

      - name: Checkout ANARI-SDK
        uses: actions/checkout@v5
        with:
          repository: "KhronosGroup/ANARI-SDK"
          path: ${{github.workspace}}/anari_sdk

      - name: CMake Configure ANARI-SDK
        run: |
          mkdir ${{github.workspace}}/anari_sdk/build
          cd ${{github.workspace}}/anari_sdk/build
          cmake .. -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install -DBUILD_HELIDE_DEVICE=OFF -DBUILD_TESTING=OFF -DBUILD_EXAMPLES=OFF -DCMAKE_BUILD_TYPE=${{matrix.config}}

      - name: build ANARI-SDK
        run: |
          cd ${{github.workspace}}/anari_sdk/build
          cmake --build . --config ${{ matrix.config }}

      - name: install ANARI-SDK
        run: |
          cd ${{github.workspace}}/anari_sdk/build
          cmake --install . --config ${{ matrix.config }}

      - name: CMake Configure barney
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake .. -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install ${{ matrix.build_flags }} -DCMAKE_BUILD_TYPE=${{matrix.config}}

      - name: build barney
        run: |
          cd ${{github.workspace}}/build
          cmake --build . --config ${{ matrix.config }}

      - name: install barney
        run: |
          cd ${{github.workspace}}/build
          cmake --install .  --config ${{ matrix.config }}
